input:
  analysis cutoff: 0.3
  diagram type: clock
  distance cutoff: 3.5
  ligand: resname UNK
  mol file: null
  offset: 30
  output name: test2_1
  topology: /Users/lauradomicevica/lintools_v1.1/lintools/testdata/ami/lig.gro
  traj end:
  - null
  traj skip:
  - null
  traj start:
  - 1
  trajectory:
  - /Users/lauradomicevica/lintools_v1.1/lintools/testdata/ami/lig.xtc
representation:
  atom color scheme: viridis
  clock color scheme: summer
  cloud color scheme: Blues
  data to show as cloud: null
  data to show as size: null
  data to show in color: null
  rotatable bonds: null
